{% extends "base.html" %}

{% load staticfiles %}

{% block menu %}
    <ul>
        <li><a href="/aparcamientos">Todos</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/videos">Vídeos</a></li>
        <li><a href="/mapa">Mapa</a></li>    
    </ul>
{% endblock %}


{% block side %}
<div class="side">
    {% csrf_token %}
        <h2>Páginas personales</h2>
        {% for usuario in listaUsuarios %}
            {% if usuario.titulo != "" %}
                <img src="{% static 'images/li.gif' %}" alt="list"/>
                <a href="/{{ usuario.usuario }}">"{{ usuario.titulo }}"</a> --
                {{ usuario.usuario }}<br />
            {% else %}
                <img src="{% static 'images/li.gif' %}" alt="list"/>
                <a href="/{{ usuario.usuario }}">"Página de {{ usuario.usuario }}"</a>
                -- {{ usuario.usuario }}<br />
            {% endif %}
        {% endfor %}
        <hr />

        <h2>Botón de accesibilidad</h2>
        {% if accesibilidad %}
            <p>Pulse si solo desea ver los aparcamientos accesibles</p>
            <form method="post" action="/">
                <input type="submit" value="Desactivar" name="boton">
            </form>
        {% else %}
            <p>Pulse si solo desea ver los aparcamientos accesibles</p>
            <form method="post" action="/">
                <input type="submit" value="Activar" name="boton">
            </form>
        {% endif %}
        <hr />
</div>
{% endblock %}


{% block main %}
<div class="main">
    {% if cargar %}
        <form method="post" action="/">
            <input class="cargar" type="submit" value="Cargar aparcamientos" name="cargar">
        </form>
    {% else %}
        <h2>Aparcamientos más comentados:</h2>
        {% for comentado in masComentados %}
            {% if comentado.num_com > 0 %}
                <h1><a href="{{ comentado.contentUrl }}">{{ comentado.nombre }}
                </a></h1><p>{{ comentado.claseVial }} {{ comentado.nombreVia }},
                {{ comentado.num}} {{ comentado.orientacion}}
                {{ comentado.codigoPostal }} {{ comentado.localidad}}</p>
                <p class="date"><img src="{% static 'images/more.gif' %}" alt="more"/>
                <a href="/aparcamientos/{{ comentado.idEntidad }}">Más información
                </a></p><br />
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
