{% extends "base.html" %}

{% load staticfiles %}

{% block side %}
<div class="side">
    {% if usuario == "" or usuario.titulo == "" %}
        <h2>"Página de {{ nombreUsuario }}"</h2>
    {% else %}
        <h2>"{{ usuario.titulo }}"</h2>
    {% endif %}
    <hr />

    {% if user.is_authenticated and user.username == nombreUsuario %}
        {% csrf_token %}
        <h2>Preferencias CSS</h2>
        <form method="post" action="/{{ user.username }}">
            <label for="size">Tamaño letra:</label>
            <input value="{{ form.tamanioLetra }}" name="tamanioLetra"><br>
            <label for="size">Color fondo:</label>
            <input value="{{ form.colorFondo }}" name="colorFondo"><br><br>
            <input type="submit" value="Enviar">
        </form>
        <hr />

        <h2> Título de tu página personal</h2>
        <form method="post" action="/{{ user.username }}">
            <label for="size">Título:</label>
            <input value="{{ form.titulo }}" name="titulo"><br><br>
            <input type="submit" value="Enviar">
        </form>
        <hr />
    {% endif %}
</div>
{% endblock %}


{% block main %}
<div class="main">
    <h2>Aparcamientos seleccionados:</h2>
    {% for seleccionado in seleccionados|slice:":5" %}
        <h1><a href="{{ seleccionado.aparcamiento.contentUrl }}">{{ seleccionado.aparcamiento.nombre }}</a></h1>
        <p>{{ seleccionado.aparcamiento.claseVial }} {{ seleccionado.aparcamiento.nombreVia }},
        {{ seleccionado.aparcamiento.num}} {{ seleccionado.aparcamiento.orientacion}}
        {{ seleccionado.aparcamiento.codigoPostal }} {{ seleccionado.aparcamiento.localidad}}</p>
        <p class="date"><img src="{% static "images/more.gif" %}" alt="more"/>
        <a href="/aparcamientos/{{ seleccionado.aparcamiento.idEntidad }}">Más información</a></p>
        <p><img src="{% static "images/timeicon.gif" %}" alt="time"/>
        Seleccionado en: {{ seleccionado.fechaHora}}</p>
        <br /><br />
        <!-- Saber en qué pasada del bucle estamos: -->
        <!-- http://stackoverflow.com/questions/11481499/django-iterate-number-in-for-loop-of-a-template -->
        {% if forloop.counter == 5 and not fin %}
            <p class="mas"><a href="{{ seleccionado.usuario }}?{{ seleccionado.id }}">
            Mostrar más aparcamientos</a></p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
